<div class="modal" id="signup-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <h5 class="modal-title">
        Create account
        <hr />
      </h5>
      <div class="form-group">
        <label for="full-name" class="required">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Username" required="required" />
      </div>
      <div class="form-group">
        <label for="full-name" class="required">Email</label>
        <input type="text" class="form-control" id="email" placeholder="Email" required="required" />
      </div>
      <div class="form-group">
        <label for="full-name" class="required">Password</label>
        <input type="text" class="form-control" id="password" placeholder="Password" required="required" />
      </div>
      <div class="form-group">
        <label for="full-name" class="required">Confirm Password</label>
        <input type="text" class="form-control" id="confirm-password" placeholder="Confirm Password"
          required="required" />
      </div>
      <div class="text-right mt-20">
        <a href="#" class="btn mr-5" role="button">Cancel</a>
        <a href="#" class="btn btn-primary" role="button">Sign me up!</a>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="confirm-delete" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Deleting Song...</h4>
        Are you sure you want to delete '{{ requestedToDelete?.song?.name }}'?
      </div>
      <div class="text-right mt-20">
        <a href="#" class="btn mr-5" role="button">Cancel</a>
        <a href="#" class="btn btn-danger" role="button" (click)="confirmDelete()">Delete</a>
      </div>
    </div>
  </div>
</div>

<div class="page-wrapper with-navbar with-sidebar">
  <nav class="navbar">
    <a href="#" class="navbar-brand">
      <!-- <img src="..." alt="..."> -->
      Chordbook
    </a>
    <div class="custom-switch d-inline-block ml-15">
      <input type="checkbox" id="auth" (change)="toggleAuthenticated()" />
      <label for="auth"><i class="fa fa-user-alt"></i></label>
    </div>

    <div *ngIf="!isAuthenticated" class="ml-auto">
      <div class="dropdown with-arrow ml-auto">
        <button class="btn" data-toggle="dropdown" type="button" id="login-btn" aria-haspopup="true"
          aria-expanded="false">
          Login <i class="fa fa-angle-down ml-5" aria-hidden="true"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="login-btn">
          <div class="form-group">
            <label for="full-name">Email</label>
            <input type="text" class="form-control" id="login-email" placeholder="Email" required="required" />
          </div>
          <div class="form-group">
            <label for="full-name">Password</label>
            <input type="text" class="form-control" id="login-password" placeholder="Password" required="required" />
          </div>
          <div class="dropdown-divider"></div>
          <div class="dropdown-content">
            <button class="btn btn-block" type="button">Login</button>
          </div>
        </div>
      </div>
      <a href="#signup-modal" class="btn btn-primary ml-5" role="button">Sign up</a>
    </div>
    <div *ngIf="isAuthenticated" class="dropdown ml-auto">
      <a class="dropdown-item" style="cursor: pointer; height: 100%; user-select: none" data-toggle="dropdown"
        id="user-btn" aria-haspopup="true" aria-expanded="false">
        DillonBroadus
        <i class="fa fa-angle-down ml-5" aria-hidden="true"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-btn">
        <a href="#" class="dropdown-item">Logout</a>
      </div>
    </div>
  </nav>

  <div class="sidebar d-flex flex-column" #sidebar>
    <div class="position-relative overflow-hidden flex-grow-1">
      <div class="overflow-auto h-full" appWatchScroll (verticalScrollAtEnd)="checkShadowBox($event)">
        <app-song-summary-card *ngFor="let songEntry of songEntries" [songEntry]="songEntry"
          (deleteRequested)="requestDelete(songEntry)" (songSelected)="songSelected(songEntry)">
        </app-song-summary-card>
      </div>
      <div class="more-content-shadow" *ngIf="shouldShowShadowBox"></div>
    </div>

    <div class="p-10 m-auto">
      <button class="btn btn-square btn-primary rounded-circle" (click)="addSong()">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>

  <div class="content-wrapper">
    <app-chord-typing *ngIf="isAuthenticated && this.selectedSong" [(song)]="selectedSong.song"></app-chord-typing>
    <div class="w-full h-full text-center font-size-24" *ngIf="isAuthenticated && !this.selectedSong">
      Please select a song or add a new song with the "+" button
    </div>
    <div class="w-full h-full text-center font-size-24" *ngIf="!isAuthenticated">
      Please login
    </div>
  </div>
</div>