<div class="chord-card" [ngClass]="{ 'chord-card-active': model?.active || false }">
  <div class="chord-card-inner-container">
    <div class="chord-card-top-label">
      <div>{{ model?.octave }}</div>
      <div>{{ model?.flavorDescription }}</div>
    </div>
    <div class="chord-card-main-label">
      <span>{{ model?.rootName }}</span>
    </div>
  </div>
</div>