.chord-card {
	background: #fff;
	border-radius: 4px;
	border: 1px solid #5a8dbe;
	display: block;
	font-size: 50px;
	color: #5a8dbe;
	transition: all 0.2s;
	width: 100px;
	height: 100px;
	user-select: none;
	position: relative;
	padding: 10px;
	margin: 2px;
	font-family: Helvetica;
}

.chord-card-active {
	background: #5a8dbe;
	color: #fff;
}

.chord-card:hover {
	background: #5a8dbe;
	color: #fff;
}

.chord-card-inner-container {
	width: 100%;
	height: 100%;
	position: relative;
}

.chord-card-top-label {
	display: flex;
	font-size: 12px;
	z-index: 0;
	position: absolute;
	justify-content: space-between;
	width: 100%;
}

.chord-card-main-label {
	text-align: center;
	height: 100%;
	width: 100%;
	z-index: 1;
	position: absolute;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.chord-card-main-label > * {
	width: 100%;
}
