<div class="content">
  <div *ngIf="!editingName">
    <div class="d-inline-block font-size-24">
      {{ song?.name }}
    </div>
    <button class="btn ml-10" (click)="beginEditingName()"><i class="fa fa-edit"></i></button>
  </div>
  <div *ngIf="editingName" style="color: rgba(255, 255, 255, 0.8)">
    <div class="input-group">
      <input #nameInput [value]="song!.name" type="text" class="form-control"
        (keyup)="$event.key === 'Enter' && applyNameChange(nameInput.value)">
      <div class="input-group-append">
        <button class="btn" (click)="applyNameChange(nameInput.value)">
          <i class="fa fa-save"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div style="color: rgba(255, 255, 255, 0.8)">
    <div class="input-group">
      <input type="text" [(ngModel)]="input" class="form-control" (input)="contentChanged()"
        (keyup)="keyPressed($any($event).key)" placeholder="Type your song out and press enter or the play button!">
      <div class="input-group-append">
        <button class="btn" (click)="play()" [disabled]="hasError || chordCardViewModels.length === 0">
          <i class="fa fa-play"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="d-flex flex-row flex-wrap">
    <app-chord-card *ngFor="let chordCardModel of chordCardViewModels" [model]="chordCardModel"></app-chord-card>
  </div>
</div>

<div class="content" *ngIf="hasError">
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Syntax Error</h4>
    {{ errorMessage }}
  </div>
</div>