.button {
	border: 1px solid #5a8dbe;
	color: #5a8dbe;
	background-color: #ffffff;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition: all 0.2s;
	opacity: 1;
}

.button:enabled:hover {
	color: #ffffff;
	background-color: #5a8dbe;
	cursor: pointer;
}

.button:focus {
	outline: none;
}

.button:disabled {
	opacity: 0.3;
}
