<div class="card shadow position-relative selectable" (click)="songSelected.emit();"
  [ngClass]="{'selected': songEntry?.isSelected}">
  <h1 class="card-title">{{ songEntry?.song?.name }}</h1>
  <p class="text-monospace font-size-12">
    {{ songEntry?.song?.createdOn | date: "dd/MM/yyyy" }}
  </p>
  <div class="position-absolute bottom-0 bottom-sm-auto top-sm-0 right-0 hideable">
    <i class="fa fa-times m-10 delete-icon" (click)="deleteRequested.emit()"></i>
  </div>
</div>