/* You can add global styles to this file, and also import other style files */
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.bubble.css";
@import "~quill/dist/quill.snow.css";

.hideable {
  transition: opacity 0.2s;
  opacity: 0;
  /* visibility: hidden; */
}

*:hover > .hideable {
  /* visibility: visible; */
  opacity: 1;
}

.content-wrapper {
  background-color: #191c20;
}

/* .sidebar {
  background-color: #25282c;
} */

.selectable {
  cursor: pointer;
  user-select: none;
  transition: all 0.2s;
}

.selected {
  background-color: var(--dm-button-bg-color-hover);
}

.selectable:hover {
  background-color: var(--dm-button-bg-color-hover);
}

.delete-icon {
  cursor: pointer;
  transition: color 0.2s;
}

.delete-icon:hover {
  /* color: #e34a6f; */
  color: var(--red-color-light);
  /* color: #9c3848; */
  /* -webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: red; */
}

.song-list {
  overflow: auto;
  height: 100%;
}

.song-list-container {
  border-bottom: 1px solid var(--dm-navbar-bg-color);
  position: relative;
  height: 1px;
}

.more-content-shadow {
  box-shadow: inset 0px -23px 9px -23px black;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
}
